.page-footer {
  background: var(--COLOR-PRIMARY-XXLIGHT);
}

.icon-btn:hover {
  color: var(--COLOR-PRIMARY);
}

@media screen and (max-width: 400px) {
  .page-footer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items:end;
  }

  .contact-socials {
    margin-right: 0;
  }
}
