.login-content,
.profile-content {
  background: linear-gradient(to bottom, var(--COLOR-PRIMARY-XXLIGHT), var(--COLOR-PRIMARY-LIGHT));
}

.login-actions {
  justify-content: space-between;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, 10px);
}

.form-validated .eye-icon {
  top: 38%;
}

@media screen and (max-width: 500px) {
  .login-card {
    width: 100%;
  }
}
