.login-content,
.profile-content {
  background: linear-gradient(to top, var(--COLOR-PRIMARY-XXLIGHT), var(--COLOR-PRIMARY-LIGHT));
  min-height: 80vh;
}

.profile-content {
  min-height: 100vh;
  padding-bottom: 20rem;
}

.login-actions {
  justify-content: space-between;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, 10px);
}

.form-validated .eye-icon {
  top: 38%;
}

@media screen and (max-width: 850px) {
  .profile-content {
    min-height: 80vh;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .login-card {
    width: 100%;
  }
}
