.video {
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  transform: scale(1);
  color: var(--BLACK);
}

.video:hover {
  transform: scale(1.01);
  background: var(--COLOR-PRIMARY-XXLIGHT);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.video-img {
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  height: auto;
  margin-bottom: 2rem;
  object-fit: contain;
}

.video-info {
  justify-content: start;
}

.video-info-title {
  justify-content: space-between;
}

.creater-thumbnail {
  min-width: 5rem;
  align-self: start;
}

.video-description {
  width: 95%;
}

.video-options-container {
  position: relative;
  align-self: start;
  justify-self: end;
  margin-right: 0.25rem;
}

.card-icon-btn:hover {
  background: var(--COLOR-PRIMARY-XLIGHT);
}

.video-option {
  position: absolute;
  width: 20rem;
  top: 2.75rem;
  right: 2rem;
  background: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.video-option > * {
  transition: all 0.3s ease;
  border-radius: 0.3rem;
  padding: 0.35rem;
  width: 100%;
}

.video-option > *:hover {
  background: var(--COLOR-PRIMARY-XLIGHT);
}

.video-option > p {
  display: flex;
}

.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 7rem;
  color: var(--BLACK);
  transition: all 0.3s ease;
}

.video-title:hover {
  color: var(--COLOR-PRIMARY);
}

svg {
  align-self: center;
}

.video-actions > p {
  padding-left: 2rem;
}

.video-embedded {
  padding-bottom: 56.25%;
  position: relative;
  background: var(--COLOR-PRIMARY-XLIGHT);
}

.video-img,
.video-card-img {
  background: var(--COLOR-PRIMARY-XLIGHT);
}

.video-embedded iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .single-video-page {
    width: 85%;
  }

  .single-video-container {
    flex-wrap: wrap;
  }

  .notes-container {
    width: 90%;
    margin: 2rem auto;
  }
}
