@import url("./utils/fonts.css");
@import url("./utils/utilities.css");

@import url("./components/all-videos.css");
@import url("./components/chip.css");
@import url("./components/login.css");
@import url("./components/nav.css");
@import url("./components/video.css");
@import url("./components/footer.css");

.no-video {
  opacity: 0.5;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* override mockman styles */
.title {
  border-bottom: none;
  width: initial;
}
